.posts{
    flex: 9;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    
}

.postDescr{
    font-family: 'Lexend', sans-serif;
    color:#444;
    line-height: 20px;
    overflow: hidden;
}

